[Unit]
Description=Run InstituteHub Health Check every 5 minutes
Requires=institutehub-healthcheck.service

[Timer]
Unit=institutehub-healthcheck.service
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
